.marker-text {
	font-family: "Permanent Marker", cursive;
}

.carousel-custom-text {
	text-shadow: 2px 2px black;
	-webkit-text-stroke: 2px black;
	font-size: x-large;
	font-weight: 700;
	font-family: sans-serif;
}

.crd-root {
	display: "flex";
}
.crd-details {
	display: "flex";
	flex-direction: "column";
}
.crd-content {
	flex: "1 0 auto";
}
.crd-cover {
	width: 151;
}
.crd-controls {
	display: "flex";
	align-items: "center";
}
.crd-playIcon {
	height: 38;
	width: 38;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.colorful-bg {
	background: #0091ea;
	background: linear-gradient(
		45deg,
		rgba(91, 70, 255, 1) 5%,
		rgba(196, 74, 244, 1) 47%,
		rgba(255, 78, 232, 1) 95%
	);
	background-size: 400% 400%;
	animation: color-change 10s infinite ease-in-out alternate-reverse;
}

img {
	margin: auto;
}

@keyframes color-change {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
